  /* HOME */

  .home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--DarkPurple);
  }

  .home-logo {
    position: absolute;
    width: 150px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0);
  }

  .home-logo:hover {
    transform: scale(1.02) translate(-50%, 0);
  }

  .home-btn-ctn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
  }

  .home-btn {
    width: 150px;
    margin: 0 10px;
    padding: 10px 20px;
    font-family: 'TheMunday';
    background-color: var(--Yellow);
    color: var(--Black);
    border: none;
    border-radius: 50px;
  }
  .home-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  
  .dictionnary {
    background-color: var(--LightGrey);
  }

  .home-description {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    text-align: center;
    color: var(--White);
  }

  .hidden {
    display: none;
  }
  