div.message {
    padding: 5px 10px 5px 5px;
}
div.message > p {
    border-radius: 10px;
    padding: 5px 10px;
    height: auto;
    margin: 10px 0;
}
div.message p.guest {
    background-color: blue;
    margin-right: 40%;
}
div.message p.user {
    background-color: red;
    margin-right: 0;
    text-align: end;
    padding-right: 10px;
    margin-left: 40%;
}